#oney_form .logo_back {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#oney_form h3:not(.modal-title) {
  margin: 0 0 15px !important;
}
#oney_form .oney_return .alert {
  display: none;
}
#oney_form #module_form,
#oney_form #module_form label.control-label {
  font-size: 14px;
}
#oney_form #module_form #oney-question_1,
#oney_form #module_form #oney-question_2,
#oney_form #module_form #oney-question_3 {
  display: none;
}
#oney_form #module_form .panel-footer {
  margin: 15px 0;
}
.solo-credit {
  display: none;
}
.bootstrap .form-horizontal .oney-information_sheet .form-group {
  margin: 0 0 15px;
  padding: 0 15px;
}
.bootstrap .form-horizontal .oney-information_sheet .form-group label {
  margin-bottom: 5px;
}
.bootstrap input[type=email] {
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  background-color: #f5f8f9;
  background-image: none;
  border: 1px solid #c7d6db;
  border-radius: 3px;
  color: #555;
  display: block;
  font-size: 12px;
  height: 31px;
  line-height: 1.42857;
  padding: 6px 8px;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  width: 100%;
}
.bootstrap .oney-information_sheet .prestashop-switch {
  margin-top: 0;
  width: 250px !important;
  display: inline-block;
}
.bootstrap .oney-information_sheet .help-block {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 10px;
}
.bootstrap .switch input ~ a {
  background-color: transparent;
  border-color: transparent;
}
.bootstrap .switch input:first-of-type:checked ~ a {
  border-color: #279CBB;
  background-color: #2eacce;
}
.bootstrap .switch input:last-of-type:checked ~ a {
  border-color: #CA6F6F;
  background-color: #E08F95;
}
#FacilyPay_module div[class|=step] {
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 14px;
}
#FacilyPay_module div[class|=step] img {
  display: block;
  margin: 0 auto 10px;
}
#FacilyPay_module div[class|=step] p {
  margin: 0 auto;
  max-width: 230px;
}
#FacilyPay_module .titleFacilyPay {
  position: relative;
}
#FacilyPay_module .titleFacilyPay:after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 0;
  width: 152px;
  height: 50px;
  background: url(../img/logo_oney.png) no-repeat;
}
#FacilyPay_module .titleFacilyPay h1 {
  padding: 8px 160px 30px 2px;
  border-top: 1px solid #81BC00;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #8cbd22;
}
#FacilyPay_module .nav-tabs {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px #d3d8db;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
#FacilyPay_module .nav-tabs.nav-langue {
  padding: 15px 0;
  border: 0;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  border-radius: 0;
  box-shadow: none;
}
#FacilyPay_module .nav-tabs.nav-langue:empty {
  display: none;
}
#FacilyPay_module .panel-heading + .nav-tabs.nav-langue {
  padding-top: 0;
  border-top: 0;
}
#FacilyPay_module .nav-tabs li {
  border: solid 1px #dedede;
  border-right: none;
  background-color: #fff;
}
#FacilyPay_module .nav-tabs li:first-child {
  border-radius: 4px 0 0 4px;
}
#FacilyPay_module .nav-tabs li:last-child {
  border-right: solid 1px #dedede;
  border-radius: 0 4px 4px 0;
}
#FacilyPay_module .nav-tabs li a {
  border: none;
  text-transform: none;
  font-size: 14px;
  color: #404040;
  background: none;
}
#FacilyPay_module .nav-tabs li:hover {
  background: #dcf4f9;
}
#FacilyPay_module .nav-tabs li.active {
  border-color: #008abd;
  background: #00aff0;
}
#FacilyPay_module .nav-tabs li.active a {
  font-weight: 700;
  color: #fff;
}
#FacilyPay_module .panel {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
#FacilyPay_module .fixed-width-lg {
  width: 220px !important;
}
#FacilyPay_module .prestashop-switch.facilypay_theme input.green:checked + label{
  background: #68d12a;
}
#FacilyPay_module .prestashop-switch.facilypay_theme input.grey:checked + label{
  background: #56595D;
}
#FacilyPay_module .list_paiement_facilyPay + .list_paiement_facilyPay {
  padding-top: 15px;
  border-top: 1px solid #eaedef;
}
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay {
  display: inline-block;
  vertical-align: middle;
}
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay input,
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay .help-block,
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay .logo_paiement {
  display: inline-block;
  vertical-align: middle;
}
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay .logo_paiement {
  margin-left: 10px;
}
#FacilyPay_module .list_paiement_facilyPay .labelFacilyPay .logo_paiement img {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
#FacilyPay_module .list_paiement_facilyPay .control-label {
  display: inline-block;
  width: calc(100% - 110px);
  margin-bottom: 0;
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  vertical-align: middle;
  color: #666666;
}
#FacilyPay_module .list_paiement_facilyPay .control-label span {
  display: block;
  margin-bottom: 0;
  font-size: 12px;
  font-style: normal;
  color: #999999;
}
#FacilyPay_module .icon-check-square-o {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 28px;
  background: transparent;
  background-position: center;
  background-size: auto auto;
  background-size: 26px;
  background-position-x: 0%;
  background-position-y: 0%;
}
#FacilyPay_module .select_block + .select_block {
  margin-top: 15px;
}
@media screen and (max-width:500px) {
  #FacilyPay_module .titleFacilyPay:after {
    left: 0;
    margin: 0 auto;
  }
  #FacilyPay_module .titleFacilyPay h1 {
    padding: 60px 2px 30px;
  }
}
@media screen and (max-width:479px) {
  #FacilyPay_module .list_paiement_facilyPay .labelFacilyPay .logo_paiement {
    display: none;
  }
  #FacilyPay_module .list_paiement_facilyPay .control-label {
    width: calc(100% - 30px);
  }
}